{% load static %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<div>
     {% if messages %}
    <ul class = "messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p><a href="{% url 'base:home' %}">BACK</a></p>
    <div class="main">
        <div class="login-container">
            <form method="post" action = "" class="login-form">
                {% csrf_token %}
                <h2>Login</h2>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <p><input type="checkbox"> I have read and agree to Cryptoexcrow's <br>
                Terms of Service and Privacy Policy</p>

                <input type="submit" value="Secure Log in">
                <p> Haven't signed up yet? <a href="{% url 'base:register' %}">Sign up</a> </p>
            </form>
        </div>
    </div>

</div>

